<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FotosDaPiteca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FotosDaPiteca.Properties.Settings>
            <setting name="Watermark" serializeAs="String">
                <value />
            </setting>
            <setting name="WatermarkFont" serializeAs="String">
                <value />
            </setting>
            <setting name="WatermarkSize" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="WatermarkPosition" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AddShadow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseWatermark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WatermarkColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
        </FotosDaPiteca.Properties.Settings>
    </userSettings>
</configuration>